name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2

jobs:
  test:
    name: Node ${{ matrix.node }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node: [14, 16, 18]

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          # cache: npm

      - name: Install npm dependencies
        run: yarn install --frozen-lockfile

      - name: Run tests
        run: yarn test

      - name: Coveralls GitHub Action
        # You may pin to the exact commit or the version.
        # uses: coverallsapp/github-action@c7885c00cb7ec0b8f9f5ff3f53cddb980f7a4412
        uses: coverallsapp/github-action@v2.2.2
        if: matrix.node == 16
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
